.dashboard-container {
  display: flex;
  min-height: 100vh;
  background-color: #f4f4f4;
  padding: 50px;
  box-sizing: border-box;
}

.dashboard-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-left: 250px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  color: black;/* Titre en couleur rgb(212, 70, 70) */
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Stat Cards Grid */
.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 40px;
}

.card {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
  height: 370px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.card h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: rgb(212, 70, 70); /* Couleur des titres dans les cartes */
  font-weight: 600;
}

.card p {
  font-size: 14px;
  color: rgb(90, 55, 55); /* Texte en couleur brown */
  margin-top: auto;
}

.pie-chart {
  width: 100%;
  max-height: 130px;
}

@media (max-width: 1024px) {
  .stats {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 600px) {
  .stats {
    grid-template-columns: 1fr;
  }

  .dashboard-content {
    margin-left: 0;
    padding: 15px;
  }

  .dashboard-container {
    flex-direction: column;
    padding: 10px;
  }

  h1 {
    font-size: 20px;
    text-align: center;
  }
}
.utilisateur-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  color: #b97a4d;
}

.utilisateur-box .icon {
  font-size: 4rem;
  margin-bottom: 10px;
}

.utilisateur-box .count {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.utilisateur-box .label {
  font-size: 1.2rem;
}
